<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>ESMP - Energy Spotmarkt Prices</title>

        <link crossorigin="" href="https://fonts.gstatic.com/" rel="preconnect"/>
        <link rel="icon" type="image/svg+xml" href="../static/images/lightning.svg">
        <link rel="stylesheet" href="../static/css/stylesheet.css">
        <script src="../static/js/scripts.js"></script>
    </head>

    <body>
        {% include 'header.html'%}


        <main>
            <section class="image-hero">
                <img src="../static/images/core_view.png" alt="Landing Page Image" class="hero-image"/>
                
                <div class="overlay">
                    <h1>Entdecken Sie die Zukunft des Energiemarktes</h1>
                    <p class="subtitle">Nutzen Sie unsere fortschrittlichen Analyse-Tools 
                        und präzisen Preisprognosen, um fundierte Entscheidungen 
                        zu treffen und Ihre Energiehandelsstrategien zu optimieren.</p>
                </div>

                <div class="overlay-buttons">
                    <button class="btn-primary">
                        <a href="{{url_for('analyse')}}">Jetzt starten</a>
                    </button>
                    <button class="btn-secondary">
                        Mehr erfahren
                    </button>
                </div>
            </section>

            <section>
                <div>
                    <h2>Überblick über ESMP</h2>
                    <p>Unsere Plattform bietet umfassende Analysen und Einblicke in den 
                        Energiemarkt, um Ihnen zu helfen, fundierte Entscheidungen zu treffen.</p>
                </div>
            </section>
            <section class="cards-section">
                <div class="cards">
                    <article class="card">
                        <img src="../static/images/data_frame.svg" alt="Datenanalyse" class="card-image"\>
                        <h3 class="card-title"> Detaillierte Marktanalysen</h3>
                        <p class="card-text">Erhalten Sie tiefgehende Einblicke in Markttrends und -muster 
                            durch unsere fortschrittlichen Analysewerkzeuge.</p>
                    </article>

                    <article class="card">
                        <img src="../static/images/clock.svg" alt="Echtzeit-Daten" class="card-image"\>
                        <h3 class="card-title">Echtzeit-Daten</h3>
                        <p class="card-text">Verfolgen Sie Marktbewegungen in Echtzeit und reagieren Sie schnell 
                            auf Veränderungen.</p>
                    </article>

                    <article class="card">
                        <img src="../static/images/shield.svg" alt="Sichere Plattform" class="card-image"\>
                        <h3 class="card-title">Sichere und zuverlässige Plattform</h3>
                        <p class="card-text">Vertrauen Sie auf unsere sichere Plattform, die Ihre Daten schützt 
                            und zuverlässige Informationen liefert.</p>
                    </article>
                </div>

            </section>

            {% include 'footer.html'%}
        </main>
    </body>
</html>

